{sys, [
       {lib_dirs, ["apps"]},
       {rel, "bonds", "1.0.1",
        [
         kernel,
         stdlib,
         sasl,
	 crypto,
	 ssl,
         mochiweb,
         bonds
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "bonds"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, bonds, [{incl_cond, include}]},
       {app, mochiweb, [{incl_cond, include}]},
       {app, sasl, [{incl_cond, include}]}
      ]}.

{target_dir, "bonds"}.

{overlay, [
           {mkdir, "log/sasl"},
	   {mkdir, "site"},
	   {mkdir, "site/www"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {copy, "files/bonds", "bin/bonds"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"},
	   {copy, "files/site/www/*", "site/www"}
    ]}.
